<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Performance</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/static/script.js"></script>
  </head>


%def render_table(data,prefix='/static/u2/'):
<table class='table' border=1>
  <!-- header -->
  <tr>
    <td>~</td>
  %for bench in benches:
    <td>{{bench}}</td>
  %end
  </tr>
  <!-- body -->
  %for bg in benches:
  <tr>
    <td>{{bg}}</td>
    %for fg in benches:
      %value = data[bg,fg]
      %v  = "{:.1f}".format(value)
      %path = "{prefix}/{bg}/{fg}.jpeg".format(**locals())
      %if value > 15:
      <td class="red" onmouseover="showpic('{{path}}')">{{v}}</td>
      %elif value > 10:
      <td class="yellow">{{v}}</td>
      %else:
      <td>{{v}}</td>
      %end
    %end
  </tr>
  %end
</table>
%end


  <body>
    <img id="image"/>
    {{render_table(data)}}
    <span onmouseover="showpic('http://messir.net/static/photo.jpg')"
    onmouseout="hidepic()">
      Hover here to see the image!!!
    </span>
  </body>
</html>