<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Performance</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/static/script.js"></script>
  </head>


%def render_table(data,prefix='/static/u2/'):
<table class='table' border=1 onmouseout="hidepic()">
  <!-- header -->
  <tr>
    <td>~</td>
  %for bench in benches:
    <td><b>{{bench}}</b></td>
  %end
  </tr>
  <!-- body -->
  %for bg in benches:
  <tr>
    <td><b>{{bg}}</b></td>
    %for fg in benches:
      %value = data[bg,fg]
      %v  = "{:.1f}".format(value)
      %path = "{prefix}/{bg}/{fg}.png".format(**locals())
      %if value > 15:
        %cls = "red"
      %elif value > 10:
        %cls = "yellow"
      %else:
        %cls = "white"
      %end
      <td class="{{cls}}" onmouseover="showpic('{{path}}')">
      <a href="{{path}}">{{v}}</a>
      </td>
    %end
  </tr>
  %end
</table>
%end


  <body>
    <img id="image"/>
    %render_table(data)
  </body>
</html>